<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Auth page</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>
<div th:replace="fragments/header :: main-menu"/>

    <div class="container">
        <div class="page-header"><h1>Страница аутентификации</h1></div>

        <p><strong>Ваш логин: </strong><span sec:authentication="name"></span></p>
        <p><strong>Авторизованные роли: </strong><span sec:authentication="principal.authorities"></span></p>
    </div>

<div th:replace="fragments/footer :: footer"/>
</body>
</html>