<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
    <div th:fragment="footer">
        <div class="navbar-fixed-bottom row-fluid">
            <div class="navbar-inner">
                <div class="container">

                    <!-- Footer -->
                    <footer>
                        <div class="row">
                            <div class="col-lg-12">
                                <p>Copyright © chapter_Spring_Boot 2018</p>
                            </div>
                        </div>
                    </footer>

                </div>
            </div>
        </div>
    </div>
</body>
</html>