<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Создать объявление</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <div class="page-header"><h1>Создать объявление</h1></div>

    <form th:action="@{/create}" method="post" enctype="multipart/form-data" accept-charset="UTF-8">
        <div class="form-group row">
            <div class="col-xs-4">
                <label for="brand">Марка</label>
                <select id="brand" class="form-control" name="brand_id">
                    <option value=""></option>
                    <th:block th:each="brand : ${brands}">
                        <option th:value="${brand.id}" th:utext="${brand.name}"></option>
                    </th:block>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-4">
                <label for="model">Модель</label>
                <input id="model" class="form-control" name="model" type="text" required="required"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-4">
                <label for="year">Год выпуска</label>
                <input id="year" class="form-control" name="year" type="number" value="2018" min="1900" max="2018"  required="required"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-4">
                <label for="carcase">Кузов</label>
                <select id="carcase" class="form-control" name="carcase_id" required="required">
                    <th:block th:each="carcase : ${carcases}">
                        <option th:value="${carcase.id}" th:utext="${carcase.type}"></option>
                    </th:block>
                </select >
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-4">
                <label for="price">Цена, в рублях</label>
                <input id="price" class="form-control" name="price" type="number" step="1000" required="required"/>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-4">
                <label for="description">Описание</label>
                <textarea id="description" class="form-control" name="description"></textarea>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-xs-4">
                <label for="picture">Изображение (только jpeg)</label>
                <input id="picture" class="form-control" name="picture" type="file" accept="image/jpeg"/>
            </div>
        </div>

        <input name="user_id" type="hidden" value="1"/>

        <div class="form-group row">
            <div class="col-xs-4">
                <input class="btn btn-default" type="submit" value="Добавить"/>
            </div>
        </div>
    </form>
</div>
</body>
</html>