<web-app>
    <servlet>
        <servlet-name>ItemsServlet</servlet-name>
        <servlet-class>todolist.controllers.ItemsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ItemsServlet</servlet-name>
        <url-pattern>/items</url-pattern>
    </servlet-mapping>
</web-app>